.u-color-primary{
    color: $color-primary;
}

.u-margin-top-medium{
    margin-top: 2rem;
}

.u-margin-bottom-medium{
    margin-bottom: 2rem;

    @include for-desktop-up{
        margin-bottom: 3rem;
    }
}