$color-primary: hsl(277, 64%, 61%); //accent

$color-black-1: hsl(233, 47%, 7%);  //main background
$color-black-2: hsl(244, 38%, 16%); //card background

$color-white-1: hsl(0, 0%, 100%); //main heading, stats
$color-white-2: hsla(0, 0%, 100%, 0.75); //main paragraph
$color-white-3: hsla(0, 0%, 100%, 0.6); //stat headings